<div id="benchContraintView">
    <form class="form-inline">
        <div class="form-group">
            <label for="scenario_name">Scenario In Use:</label>
            <input type="text" class="form-control" id="scenario_name" value="<%= name %>">
        </div>
    </form>
</div>
<table id="datatype-grid-basic" class="table table-condensed table-hover table-striped">
    <thead>
    <tr>
        <th data-identifier="true" data-formatter="pit_name" data-column-id="pitName">Pit Name</th>
        <th data-column-id="inUse" data-formatter="inUse">In Use</th>
        <% var counter = timePeriod %>
        <% for(var i=0; i< counter; i++) { %>
        <th data-formatter="value" data-column-id="<%= (startYear + i) %>"><%= (startYear + i) %></th>
        <% } %>
    </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
