@import url('./bootstrap.min.css');
@import url('./login.less');
@import url('./dashboard.less');
@import url('./mainView.less');
@import url('./sideNavView.less');
@import url('./workflowView.less');
@import url('./scenarioDefinitionView.less');
@import url('./capexView.less');
@import url('./report.less');
@import url('./pitGroupView.less');
@import url('./controlsScreenView.less');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    //color: #fff;
    //background-color: #8aba87;
    //text-align: center;
    //font-size: 40px;
}

#appWindow {
    width: 100%;
    height: 100%;
}

/*a {
    text-decoration: none;
}*/

.container {
    text-align: center;
}

.subtitle {
    color: gray;
}

#page-content-wrapper {
    padding-top: 100px !important;
}

.long-grid {
    display: block !important;
    overflow-x: auto !important;
}

.isGradeColumn {
    width: 80px;
}

.inUseColumn {
    width: 80px;
}

.yearlyValueColumn {
    width: 80px;
}

.dz-progress {
    display: none;
}

.dz-preview {
    /*border: 1px solid black;*/
}
