#workflowView{
    .sidenav {
        background-color: #f1f1f1;
        height: 100%;
        /*width: 15% !important;*/
    }
    .row.content {
        //height: 700px
    }

    hr {
        border-top: 1px solid #333;
    }

    .list-group-item {
        cursor: move;
    }
}
